:root {
    --backgroundNav: rgb(225, 231, 235);
    --colorLink: rgb(37, 37, 37);
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto',
        sans-serif;
    line-height: 1.5;
}

a {
    color: #4169E1;
    text-decoration: none;
    transition: .7s;
}

a:hover {
    color: #C9C9C9;

}

/* Navbar */

#navbar {
    background-color: var(--backgroundNav);
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 290px;
    width: 300px;
    height: 100%;
    /* border-right: 4px solid;
    border-color: rgb(143, 143, 143); */
}

header {
    font-size: 2.5rem;
    margin: 20px 10px 10px 10px;
    font-weight: 400;

}

header.judul {
    text-align: center;
}



#navbar ul {
    height: 88%;
    padding: 0;
    /* Scrool */
    overflow-y: auto;
    overflow-x: hidden;

}

#navbar li {
    border-top: 1px solid;
    position: relative;
    width: 100%;

}

#navbar a {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: var(--colorLink);
    font-size: 1.4rem;
}

#navbar a:hover {
    background-color: rgb(123, 161, 219);
}



/* Main */
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
}

.container {
    display: flex;
    background-color: rgb(201, 201, 201);
    align-items: stretch;
    /* margin: 0 20px; */
    justify-content: space-around;
    border: 2px solid #000;
    /* padding: 0 10px; */
    border-radius: .5rem;

}

.card {
    width: 100%;
    text-align: center;
    margin: 10px 10px;
    align-items: stretch;
}

.card .support-title p {
    font-weight: bold;
}

.card .support-version {
    background-color: royalblue;
    width: 100%;
    flex-shrink: 0;
}

.card .support-version.explorer {
    background-color: rgb(154, 173, 228);

}

pre {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 20px;
    background: #efefef;
    border: 2px solid #000;
    background-color: rgb(221, 221, 221);
    border-radius: .5rem;

}

pre code {
    padding: 10px;
    color: #333;
}


/* Responsive */

@media screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 303px;
        border: none;
        z-index: 2;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 280px;
    }
}